.bg-about {
    background-color: aqua;
    height: 100vh;
}

.bg-image {
    background-color: blue;
    height: 100vh;
}

.bg-mission {
    background-color: blueviolet;
    height: 100vh;
}

.bg-vision {
    background-color: red;
    height: 100vh;
}
