.bg-about-us {
    /* background-color: aqua;
    height: 100vh; */
}

.bg-mission-vision {
    /* background-color: blueviolet; */
    /* height: 100vh; */
}

.section-content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
}

.about-us-core-text {
    font-size: 18px;
}

.addition-break-5vh {
    height: 5vh;
}

.addition-break-10vh {
    height: 10vh;
}

.addition-break-15vh {
    height: 15vh;
}

.addition-break-20vh {
    height: 20vh;
}

.about-us-core {
    height: 43vh;
    display: flex;
    align-items: center;
}

.about-us-core-bg {
    position: absolute;
    height: inherit;
    z-index: -1;
    width: -webkit-fill-available;
}

.about-us-core-title {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}

.about-us-core-reverse {
    height: 43vh;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.about-us-core-bg-reverse {
    position: absolute;
    height: inherit;
    z-index: -1;
    width: -webkit-fill-available;
    flex-direction: row-reverse;
}

.about-us-core-description-reverse {
    flex-direction: row-reverse;
}


.about-us-core-bg-mission {
    background: #E0BE52;
}

.about-us-core-bg-vision {
    background: #544631;
}

.about-us-core-bg-value {
    background: #E0BE53;
}

.text-color-white {
    color: white;
}