/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Your styles here */

  .banner-content-text {
    text-align: center;
    width: unset;
  }

  .c-brand-logo {
      width: 70px;
      height: 70px;
  }

  .c-nav-menu-item {
    font-size: 15px !important;
}

.banner {
  height: 100vh;
}

.banner-content h1 {
  font-size: x-large;
}

.banner-content p {
  font-size: smaller;
}

.section-title {
  font-size: 25px;
}

.about-us-core, .about-us-core-reverse {
  height: 600px;
}

.about-us-core-title {
  font-size: 25px;
  padding-bottom: 5px !important;
}

.about-us-core-text {
  font-size: 16px;
  width: unset;
  padding: 0 10px;
}

.about-us-img {
  width: 250px;
  padding: 15px !important;
}

.about-us-core-description, .about-us-core-description-reverse {
  text-align: center;
}

.about-us-core-top {
  height: 60px;
}

.about-us-core-bg-mission, .about-us-core-bg-vision, .about-us-core-bg-value {
  height: 550px;
}

.about-us-core-bullet {
  list-style: none;
  padding: 0 10px;
}

.footer-context-details {
  display: flex;
  flex-direction: column;
}

.footer-left-context {
  display: none !important;
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .col-sm-0 {
    width: unset;
        flex: 0 0 0;
        padding: unset;
  }

  /* Your styles here */
  .banner {
    height: 100vh;
}

.banner-content h1 {
  font-size: 35px;
}

.banner-content-text {
  text-align: center;
  width: unset;
}

.about-us-core, .about-us-core-reverse {
    text-align: center;
    margin-top: 70px;
}

.about-us-img {
  width: 380px;
}

.about-us-core-bg-mission, .about-us-core-bg-vision, .about-us-core-bg-value {
  height: 750px;
}

.about-us-core-text {
  width: unset;
}

.about-us-core-bullet {
  list-style: none;
}

.footer-left-context {
  text-align: center;
}

.footer-area {
  height: 380px;
}

.about-us-core-description, .about-us-core-description-reverse {
  /* height: 990px;; */
}

.about-us-core-context{
  height: 530px;
}

.about-us-core-title {
  font-size: 30px;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Your styles here */
  .banner {
    height: 100vh;
}

.banner-content-text {
  text-align: center;
  width: unset;
}

.banner-content h1 {
  font-size: 40px;
}

.about-us-core, .about-us-core-reverse {
  height: 550px;
  padding-bottom: 50px;
}

.footer-left-context {
  text-align: center;
}

.footer-area {
  height: 380px;
}

.about-us-core-title {
  font-size: 30px;
}

.about-us-img {
  padding: 20px !important;
}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Your styles here */
  .banner {
    height: 100vh;
}

.banner-content-text {
  width: 60%;
  text-align: left;
}

.banner-content h1 {
  font-size: 35px;
}

.about-us-core, .about-us-core-reverse {
  height: 400px;
  padding: 50px 0;
}

.about-us-core-text {
  width: unset;
}

.about-us-core-title {
  font-size: 30px;
  padding-bottom: 10px !important;
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Your styles here */
  .banner {
    height: 100vh;
}

.banner-content h1 {
  font-size: 45px;
}

.banner-content-text {
  width: 60%;
  text-align: left;
}

.about-us-core, .about-us-core-reverse {
  height: 450px;
  padding-bottom: unset;
}

.about-us-core-title {
  font-size: 35px;
}
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Your styles here */
  .banner {
    height: 100vh;
}

.banner-content-text {
  width: 60%;
  text-align: left;
}

.about-us-core, .about-us-core-reverse {
  height: 500px;
  padding-bottom: unset;
}
}
